<ol class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
  <!-- Breadcrumb Menu-->
  <li class="breadcrumb-menu d-md-down-none">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <span> <i class="fa fa-clock-o text-danger"></i> {{clock}} | </span>
      <span><i class="fa fa-calendar-o text-success" style="padding-right:5px;padding-left:3px"></i>{{date}}</span>
      <a class="btn" [routerLink]="['/protected']"><i class="icon-graph"></i> &nbsp;داشبورد</a>
    </div>
  </li>
</ol>
