<notifier-container></notifier-container>
<div class="card">
  <h4 class="card-header"> افزودن تگ </h4>
  <div class="card-body">
    <div class="row" *ngIf="addForm">
      <form class="col-12" (ngSubmit)="onSubmit(addForm.value)"
            [formGroup]="addForm"
            style="padding:20px"
            novalidate>

        <!-- title-->
        <div class="col-md-6">
          <div class="form-group">
            <label>
              عنوان
            </label>
            <input type="text" class="form-control" placeholder="عنوان" value="" formControlName="title" />
          </div>
        </div>
       
        <div class="col-12">
          <button type="submit" class="btn btn-success text-white mt-4" [disabled]="!addForm.valid">ثبت</button>
        </div>

      </form>
    </div>
  </div>

</div>
