<div class="container">
  <div class="row">

    <div class="col-md-6 mx-auto">
      <div class="card-group">
        <div class="card p-2">
          <div class="card-body">
            <div class="text-center mb-3">
              <img src="../../../assets/img/logo.png" alt="ایکون" width="auto" height="50" />
              <h4 class="mt-2"> فرم ورود به سیستم مدیریت</h4>
            </div>
            <form #form="ngForm" (submit)="submitForm(form)" novalidate>
              <div class="form-group">
                <!--<label for="username">نام کاربری</label>-->
                <input id="username" type="text" required name="username" [(ngModel)]="model.username"
                       [class.is-invalid]="username.invalid && username.touched" #username="ngModel"
                       class="form-control input" placeholder="User name">
                <div *ngIf="username.invalid && username.touched">
                  <div class="alert alert-danger"  *ngIf="username.errors['required']">
                    نام کاربری را وارد نمایید.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <!--<label for="password">رمز عبور</label>-->
                <input id="password" type="password" required name="password" [(ngModel)]="model.password"
                       [class.is-invalid]="password.invalid && password.touched" #password="ngModel"
                       class="form-control input" placeholder="Password">
                <div *ngIf="password.invalid && password.touched">
                  <div class="alert alert-danger"  *ngIf="password.errors['required']">
                    رمز عبور خود را وارد نمایید.
                  </div>
                </div>
              </div>
              <!-- <div class="form-check">
                <label>
                  <input type="checkbox" name="rememberMe" [(ngModel)]="model.rememberMe"> مرا به خاطر بسپار
                </label>
              </div> -->
              <div class="form-group">
                <button type="submit" class="active btn btn-danger btn-lg btn-square" [disabled]="form.invalid">
                  ورود     <i class="fa fa-sign-in"></i>
                </button>
              </div>
              <div *ngIf="error" class="alert alert-danger " role="alert">
                {{error}}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

