<div class="card">
    <notifier-container></notifier-container>
  <div class="card-header">
    <h2 class="card-title">تغییر رمز عبور</h2>
  </div>
  <div class="card-body">
    <div class="container">
      <form (ngSubmit)="onSubmit(ChPassForm.value)" [formGroup]="ChPassForm" novalidate>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-lock"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="رمز عبور" formControlName="password">
          <em class="error invalid-feedback"
              *ngIf="ChPassForm.controls['password'].invalid
                      && (ChPassForm.controls['password'].dirty
                      || ChPassForm.controls['password'].touched)">
            حداقل شامل 8 کلمه.
          </em>
        </div>

        <div class="input-group mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="icon-lock"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="تکرار رمز" formControlName="confirmpass">
          <em class="error invalid-feedback" *ngIf="ChPassForm.controls.confirmpass.errors?.notmatch
                      && ChPassForm.controls.confirmpass.dirty">
            {{ChPassForm.controls.confirmpass.errors?.notmatch}}
          </em>
        </div>

        <button type="submit" class="btn btn-block btn-success" [disabled]="!ChPassForm.valid">
          اعمال  تغییر
        </button>
      </form>
    </div>
  </div>
</div>


